/* cor principais: #624e88 #e06cac usei o site https://uicolors.app/create para achar a paleta de cores */

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
body {
    background: linear-gradient(150deg, #765da5 30%, #fecce3 100%);
    color: #f7d3e9;
    background-attachment: fixed; 
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%; 
    margin-top: 50px;
}

.img-apresentacao {
    max-width: 600px;
    margin-right: 50px;
    animation: img-apresentacao-animacao 900ms ease-in;
}

.titulo-apresentacao {
    color: #f7d3e9;
    font-size: 65px;
    text-align: center;
    margin-top: 50px;
    animation: titulo-apresentacao-animacao 900ms ease-in;
}

@keyframes img-apresentacao-animacao {
    0% {
        transform: translateY(-500px); /* Começa acima da tela */
    }
    40% {
        transform: translateY(0); /* Quase atingindo a base */
    }
    60% {
        transform: translateY(-20px); /* Primeiro "pulo" para cima */
    }
    80% {
        transform: translateY(10px); /* Segundo "pulo" para baixo */
    }
    100% {
        transform: translateY(0); /* Finaliza na base */
    }
}

@keyframes titulo-apresentacao-animacao {
    0% {
        transform: translateY(-500px); /* Começa acima da tela */
    }
    40% {
        transform: translateY(0); /* Quase atingindo a base */
    }
    60% {
        transform: translateY(-20px); /* Primeiro "pulo" para cima */
    }
    80% {
        transform: translateY(10px); /* Segundo "pulo" para baixo */
    }
    100% {
        transform: translateY(0); /* Finaliza na base */
    }
}

.container-input{
    padding-top: 40px;
    width: 480px;
    margin: 14px 0;
}

.container-input span{
    color: #30273f;
    font-size: 22px;
    margin-bottom: 10px;
}

.slider{
    appearance: none;
    width: 100%;
    margin-top: 8px;
    height: 18px;
    border-radius: 5px;
    background: #fae9f4;
    outline: none;
    opacity: 0.7;
    cursor: pointer;
}


.item {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 25px;
    
}

.item input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    z-index: 1;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
  }

.item:hover input~.checkmark {
    background-color: #c0bbe6;
    cursor: pointer;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

.item input:checked ~ .checkmark:after {
    display: block;
  }

.item .checkmark:after {
    left: 5px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid #d591ba;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.genie-1 {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(100%);
    z-index: -1;
    opacity: 0.6;       /* Define a transparência */
    pointer-events: none;
    
}

.button-cta{
    display: flex;
    height: 40px;
    background-color: #624d8a;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #fef1f7;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    width: 250px;
}

.container-password{
    max-width: 480px;
    margin: 14px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.title{
    text-align: center;
    color: #f3f2fb;
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.password{
    height: 60px;
    background-color: rgba(60, 67, 108, 0.40);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fae9f4;
    border: 1px solid #50436c;
    transition: transform 0.5s;
    width: 300px;
}

.password:hover{
    transform: scale(1.05);
}

.tooltip{
    color: #f3f2fb;
    position: relative;
    top: 20px;
    margin-bottom: 100px;
    padding: 6px 8px; 
    background: #8967B3;
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.hide{
    display: none;
}

.container-password:hover .tooltip{
    visibility: visible;
    bottom: 50px;
    opacity: 1;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fcf3f9;
    border: 2px solid #d8d5f0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    border-radius: 10px;
}

.popup.hide {
    display: none;
}

.popup-content {
    text-align: center;
    margin-bottom: 15px;
}

.popup-content p {
    color: #333; 
    font-size: 16px;
    margin: 0; 
}

#popup-message {
    color: #9a87cd;
}

.popup-content button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #9a87cd;
    color: #fcf3f9;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 80%;
    max-width: 200px;
}

.popup-content button:hover {
    background-color: #765da5;
}
